body {
  margin: 0;
  background-color: $bcolor;
}

main {
  ul {
    list-style-type: none;
  }

  @for $i from 1 through 10 {
    ul li:nth-child(#{$i}) {
      color: lighten($base-color, $i * 5%);
    }
  }
}
